<div ng-init="init()">
	<div class="show-for-medium-up" style="height:0px; background-color: rgba(0, 0, 0, .2)"></div>
	<div sticky id="headerMain"  style="width: 100%; z-index: 990000; background-color: black"> 
			
			<div class="show-for-medium-up fonttype-2" style="background-color: black; color: white; padding: 20px; padding-bottom: 0px">
				<div class="row">
					<div class="small-9 columns">
						
						<div class="small-2 columns custom-header-active fonttype-2 pull-left" style="cursor: pointer">
							<centered>
							Home
							</centered>
						</div>
						<div class="small-2 columns custom-header-inactive fonttype-2 pull-left" style="cursor: pointer">
							<centered>
							About
							</centered>
						</div>
						<div class="small-2 columns custom-header-inactive fonttype-2 pull-left" style="cursor: pointer">
							<centered>
							Help
							</centered>
						</div>
														
														
							
						
					</div>
					
					<div class="small-1 columns custom-header-inactive fonttype-2 pull-right">			
						<div ng-class="{false: 'visable', true: 'hidden'}[pageStatus.isLoading]">							
							<a class='pull-right' ng-click="login()" ng-class="{true: 'hidden', false: 'visible'}[logState]">Login</a>					
							<a class='pull-right' ng-click="logout()" ng-class="{false: 'hidden', true: 'visible'}[logState]">Logout</a>
						</div>
					</div>
					
					<div class="small-2 columns custom-header-inactive fonttype-2 pull-right" ng-click="offcanvasToggle()">
						<centered>		
							<i class="pull-right" ng-class="{	desktop: 'fa fa-desktop ', 
																large: 'fa fa-laptop ', 
																medium: 'fa fa-tablet ', 
																small: 'fa fa-mobile ', 
																mobile: 'fa fa-mobile'}[responsive()]">
							</i>
							
							<i class="pull-right" ng-class="{	landscape: 'fa fa-arrows-h ',
																portrait: 'fa fa-arrows-v '
																}[responsive('orientation')]">
																</i>
						</centered> 
					</div>
					
					
	
					
					
				</div>
					
			</div>
			
			
	</div>
</div>
