<div>
	<div class="row">
		<div class="container white-font">
			<br><br>
			<div class="small-12 columns fonttype-1">
				<centered>
				
					
					<h2><a class="a-slide"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a></h2>
					<br>
					
					<h2><a class="a-slide"><i class="fa fa-clipboard"></i> &nbsp;&nbsp;About</a></h2>
					<br>
					
					<h2><a class="a-slide"><i class="fa fa-user"></i> &nbsp;&nbsp;Help</a></h2>
					<br>
												
					<h2><a class="a-slide" ng-click="close()"><i class="fa fa-caret-square-o-left"></i> &nbsp;&nbsp;Back</a></h2>
					<br>
				
				</centered>
			</div>
		</div>	
	</div>
</div>
				

				
