<div class="" ng-init="init()">

	<div style="position: fixed; width: 2400px; height: auto">
		<img src="media/Grapes-And-Wine.jpg" style="width: inherit; height: inherit"/>
	</div>

	<div class="row" style="height: auto; padding-top: 50px; padding-bottom: 50px">	
		
		<div class="small-12 medium-6 large-3 columns font-color-teal fonttype-1 lightBorder">
			
				<centered>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">ABOUT</h1>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">EVENTS</h1>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">GALLERY</h1>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">FAMILY</h1>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">MEDIA</h1>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">CONTACT</h1>
					<h1 data-fittext="1" data-fittext-min="60" class="a-slide">SHOP</h1>	
				</centered>
		
		</div>
		
		<div class="small-12 medium-6 large-3 columns font-color-teal fonttype-1 lightBorder">
			<centered>
				<div class="container">
					<div ng-repeat="slide in standard">
						<img class="small-12 " ng-src="{{slide.img}}" class="img-responsive"\>							
					</div>
				</div>
				
			</centered>
		</div>			
		
		
		<div class="small-12 medium-6 large-3 columns font-color-teal fonttype-1 lightBorder">
			<centered>
			<h3 class="a-slide">NEWS</h3>
				<p class="white-font fonttype-1" style="text-align: justify">{{lorem | words:25 : true}} &nbsp;&nbsp;&nbsp; <a>Read More</a></p>
				<br>
				<p class="white-font fonttype-1" style="text-align: justify">{{lorem | words:25 : true}} &nbsp;&nbsp;&nbsp; <a>Read More</a></p>
				<br><br>

			<h3 class="a-slide">LATEST</h3>
				<p class="white-font fonttype-1" style="text-align: justify">{{lorem | words:25 : true}} &nbsp;&nbsp;&nbsp; <a>Read More</a></p>
				<br>
				<p class="white-font fonttype-1" style="text-align: justify">{{lorem | words:25 : true}} &nbsp;&nbsp;&nbsp; <a>Read More</a></p>				
				
			</centered>
		</div>	
		<div class="small-12 medium-6 large-3 columns font-color-teal fonttype-1 lightBorder">
					
					<h4 class="a-slide">WHO WE ARE</h4>
					<br><br>
					<span class="white-font">{{lorem  | words:125 :true }}</span>
					<br><br>
					<img src="media/home/facebook.png" style="width: 30px; margin-right: 20px"> <span class="white-font">Find us on Facebook!</span>
					<br><br>
					<img src="media/home/twitter.png" style="width: 30px; margin-right: 20px"> <span class="white-font">Tweet us on Twitter!</span>
					<br><br><br>
					<small>
						{{copyRight}}						
					</small>		
					<br><br><br>
					
					
					<br><br>
					<h3 class="a-slide">Quote From Satisified Customer:</h3>
					<br><br>
					<span class="white-font">{{lorem  | words:85 :true }}</span>
					<br><br><br>
					
					<h5  class="a-slide">Quote From Another Satisified Customer:</h5>
					<br><br>
					<span class="white-font">{{lorem  | words:125 :true }}</span>
					<br><br><br>

					<h5  class="a-slide">Quote From Another Satisified Customer:</h5>
					<br><br>
					<span class="white-font">{{lorem  | words:125 :true }}</span>
					<br><br><br>					
										
					<centered>
						<h6 class="a-slide">Contact Us &nbsp;&nbsp;|&nbsp;&nbsp; Terms of Service &nbsp;&nbsp;|&nbsp;&nbsp; Privacy Policy</h6>					
					</centered>	
					<br><br><br>						
						
		</div>				
		
		
		
	</div>

			
</div>	


