<div class=""  >

	
	<div id="trueBottom" class="flat-secondary white-font" style="width: 100%">
		<centered>
			<br>
			<small>Code & Logic is created by Allen Royston | 2010-2014</small><br>
			<small>Thanks for checking out my sites!</small>
			<br><br>
		</centered>
	</div>



</div>
			
