<div id="mainSlider" style="background-color: transparent; color: white; ">  <!-- MINHEIGHT HAS TO MATCH THE IMAGE SIZE OR THE STICKY WILL GET CONFUSED -->
	<div class="rn-carousel-container" style="background-color: black">
			<div class="small-12 columns">
				<centered>
					<img src="media/logo.png" />
				</centered>
			</div>
    </div>
</div>